@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Pacifico&family=Poppins:wght@300;400;600;700&display=swap');


.logo {
    font-family: 'Great Vibes', sans-serif;
    font-weight: 700;
    font-size: 25px;
}